# os artifacts
# os artifacts
*.DS_Store

# editors
.vimrc
*.sublime-workspace
*.sublime-project
.sessions
.idea
*.swp
snapps.iml

# docker volumes
/data
schemaWithData.sql
.pgpass

yarn-error.log
built
.awcache
node_modules
*.log
*.js.map
package-lock.json

.scannerwork
eslint.json
coverage
coverage.out
devvm
.yarn
output
.nyc*
junit.xml
Godeps
*.pid
health
.last-build-prod-local
storybook-static
logs
jest-tmp
.packagejsons
*.zip
runtime.env.*.local
src/coverage*.out*
.fastrefresh
src-tmp
build/nodejs
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# adding this because we use yarn instead of npm for this project
# however muhammad is still using npm so this allows him to run it on npm
# without pushing the package-lock.json file to vercel which gets confused
# when it sees both yarn.lock and package-lock.json
package-lock.json

